<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Knjižnica - korisnici</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Lista korisnika</h1>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>E-mail</th>
      <th>Ime</th>
      <th>Prezime</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="konobar: ${listUsers}">
      <td th:text="${konobar.id}">User ID</td>
      <td th:text="${konobar.email}">E-mail</td>
      <td th:text="${konobar.firstname}">First Name</td>
      <td th:text="${konobar.lastname}">Last Name</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>