<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{layout}">
<head>

  <title>Blagajna - korisnici</title>

</head>
<body>


<div layout:fragment="content">
  <div class="d-flex align-items-center justify-content-between">
        <h1>Lista korisnika</h1>
        <a href="register" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Dodaj konobara</a>
  </div>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>E-mail</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th colspan="2">Akcije</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="konobar: ${listUsers}">
            <td th:text="${konobar.id}">User ID</td>
            <td th:text="${konobar.email}">E-mail</td>
            <td th:text="${konobar.firstname}">First Name</td>
            <td th:text="${konobar.lastname}">Last Name</td>
            <td><a class="btn btn-info" th:href="@{/users/edit/{id}(id=${konobar.id})}"><i class="fa-solid fa-pen-to-square"></i></a></td>
            <td><a class="btn btn-danger" th:href="@{/users/delete/{id}(id=${konobar.id})}"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
</body>
</html>